*{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-wrap: anywhere;
    white-space: pre-warp;
}

html{
    background-color: #ffffff;
    color: #777777;
    overflow: scroll;
    scroll-behavior:smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;    
}

hr{
    background-color: #777777cc;
    height: 3px;
}

ul{
    padding-top: 1em;
    padding-left: 3em;
}

a{
    text-decoration: underline;
    color: #777777;
}
a:hover{
    text-decoration: none;
}