*{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-wrap: anywhere;
    white-space: pre-warp;
}

html{
    background-color: #ffffff;
    color: #777777;
    overflow: scroll;
    scroll-behavior:smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding-left: 20px;
    padding-right: 20px;
}